---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <!-- Header -->
  <header class="bg-gray-100 py-12 rounded-b-3xl mx-6">
    <div class="container mx-auto text-center">
      <img
        class="size-[300px] object-cover shadow-sm rounded-2xl mx-auto mb-8"
        src="https://v.wpimg.pl/YWJmMDM2djYrDzt3Ykl7I2hXby0kEHV1P093ZmIFYWMyQistIVcrMjoCYyM_Ryk2PR1jNCEdOCcjQjt1YlYwJDoBLD1iVzQ1LwlidnoKOGErXHVpLFZsYWdZLicsHztmfV5gJn8DbTYoC313ewtsdTc"
        alt=""
      />
      <h1 class="text-6xl mb-6 font-bold tracking-tight">Young Leosia</h1>
      <p
        class="text-gray-600 leading-relaxed tracking-wider font-light text-xl">
        Raperka, DJ-ka i ikona nowoczesnej kultury klubowej
      </p>
    </div>
  </header>

  <!-- Sekcja: Informacje o artyście -->
  <section class="py-12 mx-6">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-4xl tracking-tight font-bold mb-6">O Artyście</h2>
      <p
        class="text-gray-500 leading-relaxed tracking-wide text-lg font-light max-w-2xl mx-auto">
        Young Leosia, właściwie Sara Leokadia Sudoł, to polska raperka,
        piosenkarka, DJ-ka i producentka muzyczna. Znana z hitów takich jak <em
          >"Szklanki"</em
        > i <em>"Jungle Girl"</em>, szybko zdobyła popularność dzięki swojemu
        unikalnemu stylowi i energii. Leosia jest również ikoną kultury klubowej
        i jednym z najważniejszych głosów młodego pokolenia.
      </p>
    </div>
  </section>

  <!-- Sekcja: Galeria -->
  <section class="bg-gray-100 rounded-3xl py-12 mx-6">
    <div class="mx-auto px-4">
      <h2 class="text-4xl tracking-tight font-bold text-center mb-12">
        Galeria
      </h2>
      <div
        class="grid grid-cols-1 justify-items-center md:grid-cols-2 lg:grid-cols-3 gap-4">
        <iframe
          class="aspect-video w-[300px] rounded-2xl"
          src="https://www.youtube.com/embed/lbaFm6USBZA?si=2HLFd7AIk4zRCRgW"
          allowfullscreen></iframe>
        <iframe
          class="aspect-video w-[300px] rounded-2xl"
          src="https://www.youtube.com/embed/CYiGyaJyPMk?si=CSyOEuQtnDWQKjhx"
        ></iframe>
        <iframe
          class="aspect-video w-[300px] rounded-2xl"
          src="https://www.youtube.com/embed/U_FirAt6UKg?si=plwP5pxNz4HvxUSL"
        ></iframe>
      </div>
    </div>
  </section>

  <!-- Sekcja: Kontakt -->
  <section class="py-12">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-4xl tracking-tight font-bold mb-6">Kontakt</h2>
      <p class="text-gray-600 mb-8 tracking-wider text-xl">
        Masz pytania lub chcesz nawiązać współpracę? Skontaktuj się!
      </p>
      <div class="flex flex-col gap-4 items-center">
        <a
          href="mailto:youngleosia@example.com"
          target="_blank"
          class="flex items-center gap-2 group">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            class="fill-pink-500"
            viewBox="0 0 256 256"
            ><path
              d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48Zm-96,85.15L52.57,64H203.43ZM98.71,128,40,181.81V74.19Zm11.84,10.85,12,11.05a8,8,0,0,0,10.82,0l12-11.05,58,53.15H52.57ZM157.29,128,216,74.18V181.82Z"
            ></path>
            <span class="group-hover:text-pink-500"
              >youngleosia@example.com</span
            >
          </svg>
        </a>

        <a
          href="https://www.instagram.com/youngleosia/?hl=pl"
          target="_blank"
          class="flex items-center gap-2 group">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            class="fill-pink-500"
            viewBox="0 0 256 256"
            ><path
              d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160ZM176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24Zm40,152a40,40,0,0,1-40,40H80a40,40,0,0,1-40-40V80A40,40,0,0,1,80,40h96a40,40,0,0,1,40,40ZM192,76a12,12,0,1,1-12-12A12,12,0,0,1,192,76Z"
            ></path></svg
          >
          <span class="group-hover:text-pink-500">youngleosia</span>
        </a>

        <a
          href="https://www.youtube.com/@BailaElla"
          target="_blank"
          class="flex items-center gap-2 group">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            class="fill-pink-500"
            viewBox="0 0 256 256"
            ><path
              d="M164.44,121.34l-48-32A8,8,0,0,0,104,96v64a8,8,0,0,0,12.44,6.66l48-32a8,8,0,0,0,0-13.32ZM120,145.05V111l25.58,17ZM234.33,69.52a24,24,0,0,0-14.49-16.4C185.56,39.88,131,40,128,40s-57.56-.12-91.84,13.12a24,24,0,0,0-14.49,16.4C19.08,79.5,16,97.74,16,128s3.08,48.5,5.67,58.48a24,24,0,0,0,14.49,16.41C69,215.56,120.4,216,127.34,216h1.32c6.94,0,58.37-.44,91.18-13.11a24,24,0,0,0,14.49-16.41c2.59-10,5.67-28.22,5.67-58.48S236.92,79.5,234.33,69.52Zm-15.49,113a8,8,0,0,1-4.77,5.49c-31.65,12.22-85.48,12-86,12H128c-.54,0-54.33.2-86-12a8,8,0,0,1-4.77-5.49C34.8,173.39,32,156.57,32,128s2.8-45.39,5.16-54.47A8,8,0,0,1,41.93,68c30.52-11.79,81.66-12,85.85-12h.27c.54,0,54.38-.18,86,12a8,8,0,0,1,4.77,5.49C221.2,82.61,224,99.43,224,128S221.2,173.39,218.84,182.47Z"
            ></path></svg
          >
          <span class="group-hover:text-pink-500">Young Leosia</span>
        </a>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-gray-100 rounded-t-3xl py-6 mx-6">
    <div class="mx-auto text-center text-gray-500 text-sm">
      &copy; 2025 Young Leosia Portfolio. Wszelkie prawa zastrzeżone.
    </div>
  </footer>
</Layout>
